.back {
  background-image: url("../images/banner.jpg");
  color: white;
  text-align: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}
.li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}

.nav-link {
  color: white;
}
.banner-content {
  padding-top: 75px;

  margin-left: 350px;
  margin-right: 350px;
}

.button {
  color: white;
  background-color: rgb(236, 81, 81);
  border: none;
  margin-top: 100px;
  padding: 10 10 10 10;
}

.banner-bottom {
  padding-top: 100px;
}
.content {
  display: inline-block;
  width: 30%;
  margin: 20px;
  padding: 30 20 0 20;
}

.content-space {
  align-content: center;
}
h6 {
  text-align: center;
  font-weight: 700;
}

.content-bottom {
  padding-top: 150px;
}

.images {
  float: left;
  width: 25%;
}

.image-bottom {
  padding-top: 100px;
}

.bottom {
  text-align: center;
  font-style: bold;
}

.dl-btn {
  background-color: rgb(228, 78, 78);
  color: white;
  border: none;
  margin-left: 600px;
  padding: 15 15 15 15;
}

.footer-top {
  background-color: rgb(39, 39, 85);
}

.footer-top-content {
  display: block;
  float: left;
  color: white;
  width: 32%;
  text-align: center;
  padding: 3%;
}
.copyright {
  color: white;
  text-align: center;
  padding-top: 2%;
  background-color: rgb(27, 27, 46);
}
fcontent {
  font-size: 10;
}

.icons {
  padding: 10px;
  display: inline-block;
  border: 1px solid white;
}
