.back {
  background-image: url("./images/banner.jpg");
  color: white;
  text-align: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}
.li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}

.nav-link {
  color: white;
}
.banner-content {
  padding-top: 75px;

  margin-left: 350px;
  margin-right: 350px;
}
